body {
    background-color: white;
}
h1 {
    font-family:Arial;
}
ul {
    position: fixed;
    top: 0;
    width: 250%;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 28px;
    text-decoration: none;
}
li a:hover {
    background-color:#111;
}
.logo {
    height: 25%;
    width: 25%;
}